@keyframes fade-up {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  margin-top: 124px;
  animation: fade-up 1s;

}

h2 {
  margin-bottom: 10px;
}

/* General Styles for Inputs */
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px; /* Inner padding */
  margin: 5px 0;
  font-size: 1em;
  border: 1px solid #ccc; /* Default light mode border */
  border-radius: 12px;
  background: white; /* Default light mode background */
  color: #000; /* Default text color */
  position: relative; /* For pseudo-element positioning */
  z-index: 1; /* Ensure text is above pseudo-elements */
  outline: none; /* Prevent double border on focus */
}

/* Dark Mode Styles */


/* Create Gradient Border using ::before */
 .form-group input::before,
.form-group select::before,
 .form-group textarea::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff !important;
  border-radius: inherit; 
  margin: 1px; 
  z-index: -1;
}
html.dark .form-group input,
html.dark .form-group select,
html.dark .form-group textarea {
  background: linear-gradient(to right, #2C497B, #00adfc);

}
html.dark .form-group input::before,
html.dark.form-group select::before,
 html.dark .form-group textarea::before  {
   background: #171717 !important;
 }


.form-group-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.form-group-checkbox input[type="checkbox"] {
  display: none; 
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-label:hover {
  position: none;
}

.checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #00ADFC;
  border-color: #00ADFC;
}

.checkbox-label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.form-buttons {
  display: flex;
  gap: 15px; 
  margin-left: 20px; 
  
}

.form-buttons button {
  padding: 2px 26px;
  font-size: 14px;
  background: linear-gradient(to right, #3D4656,  #00cafc);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  justify-content: flex-end;
  width: 100%;
  font-weight: 600;
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

html.dark .form-buttons button {
  background: none;
  background-color: #33BFFF !important;
  color: black;
}

.form-buttons button:hover {
  text-decoration: underline;
  transform: scale(1.1);
  font-weight: 700;
}
button:disabled {
  background-color: #ccc; 
  color: #888; 
  cursor: not-allowed; 
}

button:disabled:hover {
  text-decoration: none;
}


textarea {
  resize: none;
  height: 200px;
}

#equipment  {
  background-color: white;
}

@media (width < 640px) {
  .form-container {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 100px;
  }

  .form-buttons button {
      height: 40px;
  }

  .custom-checkbox {
    min-width: 20px !important;
  }


  .form-container h2 {
    text-align: center;
  }
}