.confirmation-container {
  max-width: 970px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 124px;
}

.form-details {
  margin-top: 10px;
}

@media (width < 640px) {
  .confirmation-container {
    margin-top: 90px;
        padding-left: 25px;
    padding-right: 25px;
  }

  .confirmation-title {
    padding-bottom: 10px;
  }
}