.confirmation-container {
  max-width: 500px;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 124px;
  text-align: left;
  z-index: 2;
}

.form-details {
  margin-top: 10px;
}

.confirmation-title {
  font-size: 32px;
  font-weight: bold;
}

.order-number {
  font-size: 24px;
}

.order-text {
  font-size: 20px;
}


.form-details {
  position: relative;
  display: inline-block;
  padding: 14px;
  border-radius: 14px;
  width: 100%;
  color: rgb(0, 0, 0);
  overflow: hidden;
  background: white; 
  z-index: 1;
  margin-bottom: 20px;
}

.form-details::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #3d4656, #00adfc); /* Gradient border effect */
  border-radius: inherit;
  z-index: -2;
}

.form-details::after {
  content: '';
  position: absolute;
  top: 2px; 
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: white; /* Inner layer background */
  border-radius: inherit;
   z-index: -1;
}


html.dark .form-details {
      color: white !important;
}

/* Dark Mode Styles */
html.dark .form-details::before {
  background: linear-gradient(to right, #ffffff, #00adfc); 

}

html.dark .form-details::after {
  background: #171717; 

}




.order-details {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (width < 640px) {
  .confirmation-container {
    margin-top: 90px;
        padding-left: 25px;
    padding-right: 25px;
  }

  .confirmation-title {
    padding-bottom: 10px;
  }
}