@keyframes fade-up {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.contact-main-container {
  display: flex;
  flex-direction: column;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 124px;
  margin-bottom: 20px;
  max-width: 970px;
  width: 100%;
  align-items: top;
  justify-content: space-between;
  animation: fade-up 1s;
}

.line {
  background-image: linear-gradient(to top, #00cafc, #67bbe6, 60%, #3d4656);
  min-width: 10px;
  height: 470px;
}

html.dark .line {
    background-image: linear-gradient(to top, #00cafc, #67bbe6, 60%, #ffffff);
}

.contact-subcontainer {
  display: flex;
  flex-direction: row;
}

.contact-info,
.contact-info-info {
  display: flex;
  flex-direction: column;
}

.contact-info-info {
  margin-right: 200px;
  height: 410px;
  justify-content: space-evenly;
}

.contact-info-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-title {
  margin-bottom: 20px;
}

.contact-title,
.contact-name {
  font-weight: bold;
  font-size: 20px;
}

.contact-address,
.contact-support,
.contact-social,
.contact-time {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.contact-address-location,
.contact-mail,
.contact-phone,
.contact-name {
  display: inline-flex;
  align-items: center;
}

.contact-mail,
.contact-phone {
  color: #62a2c3;
}

.map-pin-contact,
.phone-contact-icon,
.mail-icon,
.contact-logo,
.mail-icon-dark,
.map-pin-dark-contact,
.phone-contact-icon-dark {
  margin-right: 8px;
}

.contact-mail {
  margin-bottom: 8px;
}

html.dark .phone-contact-icon {
  display: none;
}

.phone-contact-icon-dark {
  display: none;
}

.map-pin-dark-contact {
  display: none;
}

html.dark .map-pin-contact {
  display: none;
}

html.dark .map-pin-dark-contact {
  display: block;
}

html.dark .contact-phone {
  color: #33BFFF;
}

html.dark .contact-mail {
  color: #33BFFF;
}

.contact-phone {
  font-family: 'Jost', sans-serif;
}

.facebook-icon-contact {
  display: inline-block;
}

.facebook-icon-contact-dark {
  width: 24px;
  display: none;

}

html.dark .facebook-icon-contact-dark {
  display: inline-block
}

html.dark .facebook-icon-contact {
  display: none;
}

@media (width < 970px) {

  .contact-container {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 80px;
  }

  .contact-info{ 
    padding-right: 40px;
  }

  .contact-info-info {
    margin-right: 0;
  }


  .line {
    min-width: 7px !important;
    height: 470px;
  }

  .contact-subcontainer {
    align-items: center;
    padding-left: 14px;
  }

  .caontact-map-mobile-container {
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 20px;
  }
}