
.description {
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
  align-items: center;
  max-width: 970px;
  margin: 0 auto;
}

.description-one,
.description-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: solid; */
  width: 100%;
  margin: 0;
  padding-left: 2px;
  padding-right: 2px;
  gap: 0;
  padding-top: 20px;
}

.description-one {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

.description-two {
  animation: appear-two linear;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

.color-updown {
  height: 310px;
  width: 10px;
  background-image: linear-gradient(to top, #3d4656, #00adfc);
  margin-right: 10px;
}

.color-updown-two {
  background-image: linear-gradient(to top, #00adfc, #3d4656);
  height: 310px;
  width: 10px;
}

.description-one-container,
.description-two-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  width: 350px;
}

.description-one-container {
  padding-left: 20px;
}

.description-two-container {
  margin-top: 20px;
}

.description-text-one,
.description-text-two,
.description-text-three {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 300px;
  margin-bottom: 10px;
}

.desc-photo {
  margin-left: 76px;
  margin-right: 76px;
  height: 288px !important;
  width: 288px !important;
}

.google-reviews-desc {
  padding: 2px;
}

.google-reviews .slick-dots {
  display: none !important;
}

.google-reviews .css-2xmatf {
  max-width: 970px;
  padding: 0;
  padding-top: 20px;
}

.google-reviews .css-hzpebr,
.google-reviews .css-1en7e4i {
  display: none;
}
.description-text-three {
  font-weight: bold;
  font-size: 20px;
}