.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 970px;
  width: 100%;
  align-items: center;
}

.footer-line {
  width: 100vw;
  background-image: linear-gradient(to left, #00cafc, #67bbe6 50%, #728097);
  height: 2px;
  margin-bottom: 20px;
}

html.dark .footer-line {
    background-image: linear-gradient(to left, #00cafc, #67bbe6 50%, #ffffff);
}

.footer-items {
  display: flex;
  justify-content: space-evenly; 
  align-items: flex-start; 
  margin-bottom: 20px;
  width: 100%;
  max-width: 970px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 20px;
}

.footer-container .footer-items ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-container .footer-items .logo-div {
  padding-top: 8px;
}

.logo-footer, .logo-footer-dark {
  width: 85px;
  height: 107px;
}

.logo-footer-dark {
  display: none
}

html.dark .logo-footer {
  display: none;
}

html.dark .logo-footer-dark {
  display: block;
}

.about-us, .services {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 40px;
}

.services {
  margin-left: 40px;
}

.footer-titles {
  margin-bottom: 28px;
  padding-bottom: 2px;
}

.about-us a, .services a {
  text-decoration: none;
  margin-bottom: 16px;
}

.about-us a:hover, .services a:hover {
  text-decoration: underline;
}

.footer-bold {
  font-weight: 600;
}


.application-form-footer {
  background-image: linear-gradient(to right, #3D4656, #00ADFC);
  font-weight: 600;
  border-radius: 25px;
  color: white;
  width: 200px;
  text-align: center;
  height: 50px;
  margin: none !important;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

html.dark .application-form-footer {
    background-image: none;
    background-color: #33BFFF;
    color: black;
}

.application-form-footer:hover {
    transform: scale(1.1);
  font-weight: 700;
}

.location iframe {
  border: 0;
  width: 100%;
  max-width: 400px;
  height: 250px;
}

.authors {
  text-align: center;
  padding: 10px 0;
}

.link {
  padding-top: 4px;
  padding-bottom: 4px;
}


@media (width < 640px) {
  .footer-container {
  display: none;
  }

}