@keyframes fade-up {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-up-text {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-photo-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Full screen height */
  overflow: hidden;
  margin: 0;
}

.landing-photo,
.mobile-landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the whole container */
  filter: brightness(0.5);
  animation: fade-up 1s;
  z-index: 0;
  display: block;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  z-index: 1;
}

.text-title {
  font-size: 2em;
  font-weight: bold;
}

.text-subtitle {
  font-size: 1.2em;
  margin-top: 10px;
}

.text-description {
  font-size: 1em;
  margin-top: 5px;
  line-height: 1.5;
}

.text-title,
.text-subtitle,
.text-description {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin: 5px 0;
  color: white;
  animation: fade-up-text 1s;
}

.application-form {
  background-image: linear-gradient(to right, #3d4656, #00adfc);
  font-weight: 600;
  border-radius: 25px;
  color: white;
  width: 220px;
  height: 50px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-up-text 1.5s;
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

html.dark .application-form {
  background-image: none;
  background-color: #00adfc;
  color: black;
}

.application-form:hover {
  transform: scale(1.1);
  font-weight: 700;
}

.mobile-landing {
  display: none;
}

@media (width < 640px) {
  .landing-photo {
    display: none;
  }

  .mobile-landing {
    display: block;
  }

  .text {
    width: 90%;
  }

  .text-title {
    font-size: 24px;
  }

  .text-subtitle {
    font-size: 20px;
    width: 100%;
  }

  .text-description {
    font-size: 16px;
    width: 100%;
  }

  .application-form {
    width: 180px;
    height: 60px;
    font-size: 18px;
  }
}
