@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 5000;
  transform: translateY(-100%);
  animation: slideIn 1s ease-out forwards;
  box-shadow: 0 1px 40px rgba(105, 105, 105, 0.45);
}

.navbar-left,
.navbar-right {
  display: flex;
  flex-direction: column;
}

.navbar-middle {
  min-width: 61px !important;
}

.navbar-left,
.navbar-right {
  height: 104px;
  justify-content: space-between;
  width: 100%;
}

.navbar-left-top,
.navbar-right-top,
.navbar-left-bottom,
.navbar-right-bottom {
  height: 51px;
}

.navbar-left-bottom {
  padding-left: 20%;
}

.navbar-right-bottom {
  padding-right: 20%;
}

.navbar-left-top,
.navbar-right-top {
  display: flex;
  align-items: center;
}

.navbar-right-top {
  margin-left: auto;
  margin-right: 0;
}

.navbar-left-top {
  margin-right: auto;
  margin-left: 0;
}

.navbar-left-middle,
.navbar-right-middle {
  height: 2px;
  background-color: black;
  width: 96%;
}

.navbar-left-middle {
  background-image: linear-gradient(to left, #00cafc 50%, #3d4656);
}

html.dark .navbar-left-middle {
  background-image: linear-gradient(to left, #00cafc 50%, #ffffff);
}

.navbar-right-middle {
  margin-left: auto;
  margin-right: 0;
  background-image: linear-gradient(to right, #00cafc 50%, #3d4656);
}

html.dark .navbar-right-middle {
  background-image: linear-gradient(to right, #00cafc 50%, #ffffff);
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-group-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.form-group {
  flex: 1;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 52px;
}

.navbar-links-list {
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease, font-weight 0.3s ease;
  width: 120px;
  text-align: center;
}

.navbar-links-list:hover {
  transform: scale(1.1);
  font-weight: 700;
}
.navbar-link-contact {
  background-image: linear-gradient(to right, #3d4656, #00adfc);
  display: inline-block;
  padding: 6px 26px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  width: 110px;
  text-align: center;
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

html.dark .navbar-link-contact {
  background-image: none;
  background-color: #33bfff;
  color: black;
}

.navbar-link-contact:hover {
  transform: scale(1.1);
  font-weight: 700;
}

.navbar-link-text {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.navbar-link-text:hover {
  font-weight: 600;
}

.navbar-links .navbar-link-contact {
  color: white;
  text-decoration: none;
}

.logo {
  z-index: 1;
  margin: 0;
  width: 68px !important;
  height: 76px !important;
  margin-top: 10px;
}

.map-pin,
.mail-icon,
.phone-icon,
.map-pin-dark {
  margin-right: 6px;
}

.facebook-icon,
.facebook-icon-dark {
  margin-left: 6px;
  margin-right: 20px;
}

.navbar-phone-number,
.navbar-socials {
  display: flex;
  align-items: center;
}

.navbar-phone-number span,
.navbar-socials span {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.phone-icon {
  margin-left: 20px;
}

.phone-number,
.mail-adress {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.navbar-phone-number span {
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

/* Dropdown container */
.dropdown-container {
  position: relative;
}

.dropdown-container:hover .dropdown-menu,
.dropdown-container:has(:hover) .dropdown-menu {
  display: flex;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 22px;
  left: 14px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: none; /* Initially hidden */
  flex-direction: column;
  min-width: 200px;
  font-weight: 500;
}

/* Dropdown items */
.dropdown-item {
  padding: 10px 20px;
  text-align: left;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-container {
  padding-bottom: 10px;
  margin-bottom: -10px;
}

.dark-hamburger {
  display: flex;
  flex-direction: row;
}

.mobile-navbar {
  display: flex;
  height: 50px;
  margin: 0 auto;
  justify-content: space-between !important;
  width: 98%;
  align-items: center;
  box-shadow: 0 14px 42px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 12px 12px;
}

.logo2 {
  display: block;
  margin-left: 10px;
}

.menu-toggle {
  display: none;
}
.darkmode {
  display: flex;
  align-items: center; /* Align ThemeSwitch vertically */
  margin-right: 10px; /* Add some space from the hamburger */
}

/* Hamburger icon for menu toggle */
.hamburger-icon,
.hamburger-icon-dark {
  cursor: pointer;
  z-index: 1001;
  position: relative;
  display: block;
  margin-right: 10px;
}

/* Mobile menu styling */
.mobile-menu {
  display: none; /* Hidden by default */
}

.mobile-menu.open {
  display: flex;
  margin-top: 50px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  animation: slideDown 0.5s;
}

html.dark .mobile-menu.open {
  background-color: black;
}
html.dark .mobile-menu a {
  color: white;
}

.mobile-menu.open ul {
  /* list-style: circle; */
  padding: 0;
  margin: 0;
  text-align: center;
  top: 0;
  position: absolute;
  width: 100%;
}

.mobile-menu li {
  margin: 16px 0;
  margin-top: 40px;
  margin-bottom: 40px;

  /* Add the gradient as a border-bottom */
  border-bottom: 2px solid; /* Make sure the border is visible */
  border-image: linear-gradient(to right, #3d4656, #00adfc 50%);
  border-image-slice: 1; /* Ensure the gradient is fully applied to the border */

  /* Add equal spacing from the border and above/below the list item */
  padding-bottom: 40px; /* Adjust this to control the distance between content and border */
}

html.dark .mobile-menu li {
  margin: 16px 0;
  margin-top: 40px;
  margin-bottom: 40px;

  /* Add the gradient as a border-bottom */
  border-bottom: 2px solid; /* Make sure the border is visible */
  border-image: linear-gradient(to right, #ffffff 10%, #00adfc);
  border-image-slice: 1; /* Ensure the gradient is fully applied to the border */

  /* Add equal spacing from the border and above/below the list item */
  padding-bottom: 40px; /* Adjust this to control the distance between content and border */
}

.mobile-menu a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.mobile-menu a:hover {
  color: #00adfc;
}

/* Show the menu when the checkbox is checked */
.menu-toggle:checked + .hamburger-icon + .mobile-menu {
  display: flex;
}

.map-pin,
.map-pin-dark {
  margin-left: 8px;
}

.logo-dark,
.phone-dark,
.map-pin-dark,
.mail-icon-dark,
.facebook-icon-dark {
  display: none;
}

html.dark .logo {
  display: none;
}

html.dark .phone {
  display: none;
}

html.dark .map-pin {
  display: none;
}

html.dark .mail-icon {
  display: none;
}

html.dark .facebook-icon {
  display: none;
}

html.dark .phone-dark {
  display: block;
}

html.dark .map-pin-dark {
  display: block;
}

html.dark .mail-icon-dark {
  display: block;
}

html.dark .facebook-icon-dark {
  display: block;
}

html.dark .logo-dark {
  display: block;
  z-index: 1;
  margin: 0;
  width: 68px !important;
  height: 76px !important;
  margin-top: 10px;
}

html.dark .navbar-container {
  background-color: #1a1a1a;
}

html.dark .navbar-link-text {
  color: white;
}

html.dark .dropdown-menu {
  background-color: black;
}

html.dark .dropdown-item {
  color: white;
}

html.dark .dropdown-item:hover {
  background-color: black; /* Change background to black */
  color: white; /* Change text color to white */
  font-weight: bold;
  cursor: pointer;
}

.logo-mobile-nav-dark {
  display: none;
  margin-left: 10px;
}

.logo-name-mobile-nav-dark {
  display: none;
}

.logo-mobile-nav-dark {
  width: 31px;
}

.hamburger-icon-dark {
  display: none;
}

.logo-name-mobile-nav-dark,
.logo2-name {
  width: 120px;
  position: fixed; /* Remove it from the normal flow */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to truly center */
  z-index: 1001; /* Ensure it appears on top of other elements */
}

.navbar-socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-socials img {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: middle;
}

.navbar-socials > div {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

@media (width < 640px) {
  .navbar-left,
  .navbar-right,
  .logo {
    display: none;
  }
  .navbar-container {
    height: 50px;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(105, 105, 105, 0.45);
  }

  .logo-dark {
    display: none !important;
  }

  html.dark .logo2 {
    display: none;
  }

  html.dark .logo-mobile-nav-dark,
  .logo-name-mobile-nav-dark {
    display: block;
  }

  html.dark .hamburger-icon {
    display: none;
  }

  html.dark .hamburger-icon-dark {
    display: block;
  }
}

@media (width >= 640px) {
  .mobile-navbar,
  .mobile-menu-container {
    display: none;
  }
}
