/* Add this to prevent horizontal scroll */
html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.landing-photo-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 104px;
  animation: fade-up 1s;
  overflow: hidden;
  max-height: calc(100vh - 104px);
}

.phonefix-landing-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.5);
  z-index: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 80%;
  max-width: 800px;
}

.text-title {
  font-weight: 600;
  margin-bottom: 14px;
  font-size: 20px;
}

/* Pricing text content above image */
.pricelist-text-phone {
  margin: 20px auto;
  text-align: center;
  max-width: 500px;
  padding: 0 20px;
  display: block;
  z-index: 2;
  position: relative;
    margin-bottom: 20px !important;
}

/* Shadow wrapper for pricing list */
.price-list-shadow {
  display: flex;
  flex-direction: column;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
  z-index: 2;
  position: relative;
}

/* Hide mobile image by default */
.phonefix-landing-photo-mobile {
  display: none;
}

/* ✅ Mobile adjustments */
@media (width < 640px) {
  .landing-photo-container {
    margin-top: 50px;
    max-height: calc(100vh - 50px);
  }

  .phonefix-landing-photo {
    width: 100%;
    height: 100%;
  }

  .text {
    width: 90%;
  }

  /* Hide desktop image */
  /* .phonefix-landing-photo {
    display: none;
  } */

  /* Show mobile image */
  .phonefix-landing-photo-mobile {
    display: block;
  }

  .pricelist-text {
    padding: 0 25px;
  }
}
