.price-list {
  display: flex;
  flex-direction: column;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}



.highlight-item .price-item {
  position: relative;
  margin-bottom: 16px;
  margin-top: 26px;
}

.highlight-item .price-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #3d4656, #00adfc 50%);
}

html.dark .highlight-item .price-item::after {
    background-image: linear-gradient(to right, #ffffff, #00adfc 50%);
}

.regular-item .price-item {
  position: relative; 
}

.regular-item .price-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%; 
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, #3d4656, #00adfc 50%);
}

html.dark .regular-item .price-item::after {
    background-image: linear-gradient(to right, #ffffff, #00adfc 50%);
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align text vertically */
  padding: 0 80px; 
}

.item-name {
  margin-left: 30px;
  max-width: 500px;
  font-weight: 500;
  font-size: 16px !important;
}

.price {
  color: gray;
  margin-right: 30px;
  max-width: 300px;
}

html.dark .price {
  color: #33BFFF;
}

.item-name, .price {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 16px;
}

.price {
  text-align: right;
}

.price-list-shadow {
  display: flex;
  flex-direction: column;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.1); /* Regular shadow for bottom, left, and right */
  position: relative;
}


.bold-text {
  font-weight: bold;
  font-size: 20px !important;

}

html.dark .bold-text {
  color: #00adfc;
}



@media (width < 640px) {
  .price-item {
    padding: 0;
  }

  .price {
    margin: 0;
    margin-right: 14px;
     margin-left: 14px;
     min-width: 60px;
  }

  .item-name {
    margin-left: 14px;
    max-width: 230px;
    margin-right: 14px;
  }

.price-list-shadow {
  margin: 0 auto;
  margin-left: 14px;
  margin-right: 14px;
    margin-bottom: 20px !important;
}

  .price-list {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  
}




.regular-item .price-item::after {
  content: "";
  position: absolute;
  /* bottom: 0; */
  left: 0 !important;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #3d4656, #00adfc 50%);
}


.pricelist-text {
  padding-left: 14px;
  padding-right: 14px;
}
}