.realizations-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding-top: 124px;
}

html.dark .realizations-container {
  color: white;
}

.realization-title {
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
}

.realization-subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 15px 0;
  position: relative;
}

.gallery > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #3d4656, #00adfc 50%);
}

html.dark .gallery > div::before {
  background-image: linear-gradient(to right, #ffffff, #00adfc 70%);
}

.gallery-texts {
  width: 45%;
  
}

.gallery-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
}



.gallery-title {
  font-weight: bold;
  font-size: 20px;
}

.gallery-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.gallery-image {
  border-radius: 25px;
  width: 50%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  padding: 20px;
  border-radius: 0;
  overflow-y: auto;
}

.modal-content {
  background: none;
  width: 100%;
  max-width: 1300px;
  text-align: center;
  position: relative;
  padding: 20px;
  overflow: auto;
}

.modal .gallery-image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.modal .gallery-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 20px 0 10px;
}

.modal .gallery-description {
  font-size: 18px;
  color: white;
  padding: 0 20px;
  margin-bottom: 20px;
  text-align: center;
}

.gallery-description.collapsed {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 16px;
  padding-right: 20px;
  margin: 0; /* Ensure no margin affects layout */
  border: none; /* Remove border to avoid showing overflow */
  padding-bottom: 0px !important;
}

.gallery-description.expanded {
  overflow: visible;
  -webkit-line-clamp: unset; /* Show full text */
  font-size: 16px;
  padding-right: 20px;
}

.expand-description-button {
  margin-top: 10px;
  background-color: #00adfc;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.expand-description-button:hover {
  background-color: #007ab8;
}

.navigation-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.navigation-buttons button {
  background-color: #00adfc;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.navigation-buttons button:hover {
  background-color: #00acfc93;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #00adfc;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1001;
}

.close-button:hover {
  background-color: #00acfc93;
}

.close-button-mobile {
  display: none;
}

@media (width < 640px) {
  .close-button {
    display: none;
  }

  .modal {
    position: fixed;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 5000;
    overflow-y: auto;
  }

  .modal-content {
    background: none;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .modal .gallery-image {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0;
  }

  .modal .gallery-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
    text-align: center;
  }

  .modal .gallery-description {
    font-size: 18px;
    color: white;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    line-height: 1.5;
    
  }

  .close-button-mobile {
    display: inline-block;
    /* background-color: #00adfc; */
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
  }

  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }

  .navigation-buttons button {
    background-color: #00adfc;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .realizations-container {
    padding-top: 70px;
  }

  .gallery > div {
    flex-direction: column;
    align-items: center;
  }

  .gallery-item {
    flex-direction: column;
    text-align: left;
    width: 100%;
  }

  .gallery-image-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .gallery-image {
    width: 100%;
    height: auto;
    border-radius: 25px;
  }

  .gallery-description {
    margin-top: 10px;
    text-align: left;
    order: 2;
      border-bottom: 0px !important;
  }
  
  .gallery-texts {
    width: 100%;
  }

}
