@keyframes fade-up {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.services-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 970px;
  width: 100%;
  margin-top: 164px;
  justify-content: space-between;
  margin-bottom: 20px;
 
}

.services-left,
.services-right {
  display: flex;
  flex-direction: row;
  max-width: 970px;
  margin-bottom: -20px;
  align-items: center;
}


.services-title {
   animation: fade-up 1s;
}

.down-up {
  background-image: linear-gradient(to top, #00adfc, #3d4656);
}

.up-down {
  background-image: linear-gradient(to top, #3d4656, #00adfc);
}

.up-down,
.down-up {
  height: 360px;
  min-width: 7px;
}

.text {
  color: black;
}

.pic-left,
.pic-right {
  height: 288px !important;
  width: 288px !important;
}

.pic-left {
  margin-left: 60px;
  margin-right: 40px;
}

.pic-right {
  margin-left: 40px;
  margin-right: 60px;
}

.services-text,
.services-text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services-text {
  text-align: left;
}

.services-text-right {
  margin-left: 120px;
}

.services-text-title {
  font-size: 28px;
  font-weight: bold;

  text-align: left;
  display: block;
}

.services-text-title:hover {
  color: #00adfc;
  text-decoration: underline;
}

.services-text-link {
  margin: 0;
  text-decoration: none;
}

.services-text-link:visited {
  color: inherit;
  text-decoration: none;
}

.services-text-desc {
  flex-grow: 1;
  min-width: 0;
  max-width: 450px;
  display: block;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-top: 20px;
}

.services-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.services-contact {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.services-contact-text {
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.services-contact-button {
  background-image: linear-gradient(to right, #3d4656, #00adfc);
  padding: 6px 26px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
}

.services-contact-button:hover {
  text-decoration: underline;
  cursor: pointer;
}


@media (width < 970px) {
  .services-container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .services-title {
    font-size: 22px;
  }

  .services-left, .services-right {
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 10px;
  }

  .pic-left, .pic-right {
    width: 90px !important;
    height: 90px !important;
    margin: 0;
  }

  .services-text-title {
    font-size: 20px;
  }

  .services-text-desc {
    font-size: 16px;
    text-align: left;
  }

  .down-up, .up-down {
    height: 200px;
  }

  .services-text-right {
    margin: 0;
  }

  .services-container {
    margin-top: 100px;
  }

  .services-contact {
    animation: fade-up 1s;
  }

}