

.warranty {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  max-width: 970px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.color-updown-warranty {
  height: 310px;
  min-width: 10px;
  background-image: linear-gradient(to top, #3d4656, #00adfc);
}

.color-updown-two-warranty {
  background-image: linear-gradient(to top, #00adfc, #3d4656);
  height: 310px;
  min-width: 10px;
}

html.dark .color-updown-warranty {
  background-image: linear-gradient(to top, #ffffff, #00adfc);
}

html.dark .color-updown-two-warranty {
    background-image: linear-gradient(to top, #00adfc, #ffffff);
}

.warranty-desc {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.warranty-text,
.warranty-title {
  margin-bottom: 10px;
}

.warranty-title {
  font-size: 24px;
  font-weight: bold;
}

.appllication-link {
  text-decoration: none;
}


@media ( width < 640px) {
  .warranty {
    margin-left: 6px;
    margin-right: 6px;
  }
  .warranty-desc {
    max-width: 270px;
    width: 100%;
  }

  .warranty-title {
  font-size: 18px;
  font-weight: bold;
}
  .warranty-text {
    font-size: 14px;
  }

  .color-updown-warranty, .color-updown-two-warranty {
    min-width: 7px !important;
  }

  .warranty {
    margin-bottom: 10px;
  }
}